<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Sobre</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">We've got what you need!</h2>
				<hr class="light my-4">
				<p class="text-faded mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies nisl sed ligula rutrum, vel accumsan erat euismod. Maecenas ullamcorper, lorem et interdum pretium, turpis lectus luctus ipsum, vitae pellentesque neque velit eget turpis. Suspendisse ut ultrices metus. Quisque ac mi aliquet, elementum dolor sed, consectetur mi. Nam iaculis lobortis eros tincidunt rutrum. </p>
				<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">UHU!</a>
			</div>
		</div>
	</div>
</section>