<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">texto de destaque principal</div>
			<div class="intro-heading">segundo texto de sub-destaque</div>
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">quero conhecer!</a>
		</div>
	</div>
</header>